
@font-face {
	font-family: 'Apercu';
	src: url('../fonts/Apercu-Regular.eot');
	src: url('../fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Apercu-Regular.woff') format('woff'),
		url('../fonts/Apercu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'Apercu-Mono';
	src: url('../fonts/Apercu-Mono.eot');
	src: url('../fonts/Apercu-Mono.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Apercu-Mono.woff') format('woff'),
		url('../fonts/Apercu-Mono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}





body {
        display: block;
        font-family: 'Apercu';
        font-weight: normal;
        font-size: 1vw;
        width: 100%;
        height: auto;
        font-style: normal;
        margin: 0 auto;
        float: center;


}



.wrapper {
        overflow: hidden;
        max-width: 58%;
        margin: 0 auto;
        display: block;
}



header {

       margin: 15% 10%;

}

/*from below is the code for creating a all in one line menu bar*/

h1 {
    display: inline;
    font-family: 'Apercu-Mono';
    font-weight: normal;
    font-size: 1.3em;
		letter-spacing: .2em;

}




ul {
        white-space: nowrap;
        float: center;
        width: 60%;
    list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        text-align: center;
    margin-bottom: 15%;

}

li {
				font-size: .7em;
        white-space: nowrap;
        display: inline-block;  /*enables us to work with the text in the nav*/
         /*spacing in between links in horizontal nav bar*/
          /*spacing in between links in horizontal nav bar*/
}

li a {

        text-align: center;
        text-decoration: none;
        white-space: nowrap;
}

li a { text-decoration: none; color:#000;; }
li a:visited { text-decoration: none; }
li a:hover { text-decoration: none; }
li a:focus { text-decoration: none; }
li a:hover, li a:active { text-decoration: none; color: rgb(76, 174, 163);}



.info {
	width: 100%;
	height: 100px;
	display: block;
	padding-top: 80px;
	padding-bottom: 40px;

	clear: both;





}

.left1 {
	margin-left: 1.7%;
	width: 40%;
	font-family: 'Apercu-Mono';
	letter-spacing: .2em;
	font-size: 1.3em;


}

.right1 {
	margin-left: 1.7%;
	width: 25%;
	float: right;
	font-size: .6em;
	line-height: 1.2;
	font-family: 'Grad';
	font-weight: 300;
	margin-right: 1.7%;
}

.image1 {
          margin-left: 1.7%;
          margin-top: .66%;
          float: left;

}


.box1 {
          position: relative;
          width: 100%;

}


.box1 h2 {
          position: absolute;
          margin-top:12%;
      		margin-left: 10%;
          width: 100%;
     			font-family: 'Apercu-Mono';
    			font-weight: normal;
					opacity: 0;
					font-size: 3vw;
					line-height: 1.2;


}

.image2 {
          margin-left: .66%;
          margin-top: .66%;
          float: left;

}

.box2 {
          position: relative;
          width: 100%;
}

.box2 h2 {
          position: absolute;
          margin-top:30%;
          margin-left: 51.5%;
          width: 100%;
					opacity: 0;

}

.image3 {
          margin-left: 1.7%;
          margin-top: .66%;
          float: left;
}

.box3 {
          position: relative;
          width: 100%;
}

.box3 h2 {

          position: absolute;
          margin-top: 63.5%;
          margin-left: 3%;
          width: 100%;
					opacity: 0;

}

.image4 {
          margin-left: 1.7%;
          margin-top: .66%;
          float: left;
}

.box4 {
          position: relative;
          width: 100%;
}

.box4 h2 {
          position: absolute;
          margin-top: 95.5%;
          left: 3%;
          width: 100%;
					opacity: 0;

}

.image5 {
          margin-left: .66%;
          margin-top: .66%;
          float: left;
}

.box5   {
          position: relative;
          width: 100%;
}

.box5 h2 {
          position: absolute;
          margin-top: 95.5%;
          left: 51.5%;
          width: 100%;
					opacity: 0;

}

.image6 {
          margin-left: 1.7%;
          margin-top: .66%;
          margin-bottom: .66%;
          float: left;
}

.box6   {
          position: relative;
          width: 100%;
}

.box6 h2 {
          position: absolute;
          margin-top: 131.5%;
          left: 3%;
          width: 100%;
					opacity: 0;
}



.category {
        float: left;
        clear: left;
        color: rgb(0, 0, 0);
        font: .6vw 'Apercu';
        font-weight: normal;
        background: rgb(76, 174, 163);
        background: rgba(76, 174, 163, 0.5);
        padding: 3px 10px;
}

.contact {
        width: 8%;
        margin: 0 auto;
				text-align: center;
}

.instagram {
        margin: 100% 0 150%;
        float:left;}

.email {
        margin: 100% 0 150%;
        float:right;}

p      {
			display: inline-block;


        font-family: 'Apercu';
        font-weight: 300;
        font-size: .5vw;
        text-align: center;}
